.container{
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
    background-color: white;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.scrollmenu {
    background-color: #ffffff;
    overflow: auto;
    white-space: nowrap;
}

.scrollmenuItem{
    display: inline-block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.scrollmenuItem:hover {
    background-color: #777;
}

.background{
    background-color: #eef2ee;
}

.wrapText{
    overflow: hidden;
}

.myFooter {
    /*position: fixed;*/
    margin-top: 20vh;
    height: 200px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    align-content: center;
}

.myFooter img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.buttonDiv{
    margin-top: 20px;
}

@media only screen and (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .container{
        width: 90%;
    }
}

